---
import { db, Ticket } from "astro:db";
import TicketTable from "@/components/TicketTable";
import Layout from "@/layouts/Layout.astro";

const tickets = await db.select().from(Ticket);
---

<Layout title="Tickets" description="A list of all tickets in the system.">
  <div class="container mx-auto py-10">
    <TicketTable data={tickets} client:load />
  </div>
</Layout>
